<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{static_url('css/style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300i,400,700&amp;subset=cyrillic-ext"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <title>Hotel</title>
</head>

<body class="back">
    <header class="header1" id="header">
        <form id="formID" class="formular" method="post" action="http://localhost:8888/allrooms">
            <div class="container">
                <div class="header__inner">
                    <div class="header__logo" data-scroll="#intro"><a href="{{('admin')}}"
                            class="nav__link">Адм.Панель</a></div>           
                    <ul class="nav">
                        <li><a href="#">Гости</a>
                            <ul>
                                <li> </li>

                                <li><a href="#"><input type="submit" class="nav__link1"
                                            value="ГОСТИ,ПРОЖИВАЮЩИЕ В ОТЕЛЕ"
                                            formaction="http://localhost:8888/inguests">
                                    </a></li>
                                <li><input type="submit" class="nav__link1" value="АРХИВ ГОСТЕЙ"
                                        formaction="http://localhost:8888/allguests">
                                </li>
                            </ul>
                        </li>
                        <li><a>Бронирование</a>
                            <ul>
                                <li><a href="{{('booking')}}">Забронировать номер</a></li>
                                <li><input type="submit" class="nav__link1" value="ПОДТВЕРЖДЕНИЕ БРОНИ"
                                        formaction="http://localhost:8888/confirmation">
                                    </a>

                                </li>
                                <li>
                                    <a href="{{('dopservices')}}"> Добавление услуг в номер </a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="{{('booking')}}">Номера</a>
                            <ul>
                                <li><input type="submit" class="nav__link1" value="ЗАНЯТЫЕ НОМЕРА"
                                        formaction="http://localhost:8888/busyrooms"></li>
                                <li> <input type="submit" class="nav__link1" value="СВОБОДНЫЕ НОМЕРА"
                                        formaction="http://localhost:8888/allrooms"></li>
                        </li>
                        <li>
                            <a href="{{('dopservices')}}"> Добавление услуг в номер </a>
                        </li>
                    </ul>
                    </li>
                    <li><a href="#">Услуги</a>
                        <ul>
                            <li>
                                <a href="{{('dopservices')}}">Просмотр услуг</a>
                            </li>
                            <li>
                                <a href="{{('services')}}">Изменение стоимости услуг</a>
                            </li>
                    </li>
                    </ul>
                    <li><a href="#">Неисправность</a>
                        <ul>
                                <li> <a href="{{('crash')}}">Заявка о неисправности</a></li>   
                            <li><input type="submit" class="nav__link1" value="НОМЕРА C НЕИСПРАВНОСТЯМИ"
                                    formaction="http://localhost:8888/crashrooms"></li>
                            <li> <input type="submit" class="nav__link1" value="ВЫБОР РЕМОНТНИКА НЕИСПВ."
                                    formaction="http://localhost:8888/crashconfirmation"></li>
                            <li><input type="submit" class="nav__link1" value="ПРИЕМ РАБОТ"
                                    formaction="http://localhost:8888/pri"></li>
                        </ul>
                    </li>
                    <li><a href="{{('statistic')}}">Статистика</a></li>
                    <li><a href="{{('/')}}">Выйти</a></li>
                    </ul>
                    <button class="nav-toggle" id="nav_toggle" type="button">
                        <span class="nav-toggle__item">Menu</span>
                    </button>
                </div>
            </div>
        </form>
    </header>
    <div class="lolkek">
    <h1>Номера отеля</h1>
        <h1>Всего номеров со статусом {{status}}: {{len}}/30</h1>
    </div>
    <br><br><br><br>
    <!-- <a class="btn1" input type="submit" href="{{('vhod')}}">Назад</a><br><br><br> -->
    <table class="table_for_cht">
        <tr>
            <th>Номер</th>
            <th>Тип</th>
            <th>Количество комнат</th>
            <th>Этаж</th>
        </tr>
        {% for rec in records %}

        <tr>
            <td>{{rec[0]}}</td>
            <td>{{rec[1]}}</td>
            <td>{{rec[2]}}</td>
            <td>{{rec[3]}}</td>
        </tr>
        {% end %}
    </table>
    <!-- <a class="btn_back" href="{{('admin')}}">Назад</a> -->
</body>
</form>

</html>