<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{static_url('css/style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300i,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <title>Hotel</title>
</head>
    <body class="back">
        <form id="formID" class="formular" method="post" action="http://localhost:8888/allguests">
            <header class="header1" id="header">
            <div class="container">
                <div class="header__inner">    
                    <div class="header__logo" data-scroll="#intro">Адм.Панель</div>
                    <nav class="nav" id="nav">
                        <!-- <a class="nav__link" href="#" data-scroll="#services">Подтверждение бронирования</a> -->
                        <!-- <a class="nav__link" href="#" data-scroll="#works">Архив гостей</a> -->
                        <input type="submit" class="nav__link1" value="НОМЕРА C НЕИСПРАВНОСТЯМИ" formaction="http://localhost:8888/crashroomstech">
                        <input type="submit" class="nav__link1" value="ИСПРАВЛЕНИЕ" formaction="http://localhost:8888/crashconfirmation">
                        <!-- <a class="nav__link" href="{{('tech_admin')}}" >ИСПРАВЛЕНИЕ</a> -->
                        <a class="nav__link" href="{{('/')}}" >Выйти</a>
                    </nav>
        
                    <button class="nav-toggle" id="nav_toggle" type="button">
                        <span class="nav-toggle__item">Menu</span>
                    </button>
                </div>
            </div>
        </header>
            
    </section>
</form>
</body>
</html>