<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{static_url('css/style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300i,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <title>Hotel</title>
</head>
<body>
        <form id="formID" class="formular" method="post" action="http://localhost:8888/cvit">
    <header class="header" id="header">
         <div class="container">
             <div class="header__inner">
                 <div class="header__fixed">
                     <div class="header__center">
                         <div class="header__logo" data-scroll="#intro">Hotel</div>
                         <a class="nav__link" href="#" data-scroll="#about">-ПРОЖИВАНИЕ-</a>
 
                     </div>
 
                 </div>
             </div>
         </div>
     </header><br><br><br><br><br><br>
   <h1>Проживание оплачено!</h1>
   <a class="btn1" href="{{('admin')}}">Назад</a> 
   <input type="submit" value="Квитанция" class="btn2">
   </form>
 </body>